<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <!-- <arg name="initial_reset" value="true"/> -->

        <arg name="enable_infra1" value="false"/>
        <arg name="enable_infra2" value="false"/>
        <arg name="enable_color" value="false"/>
     
        <arg name="depth_width" value="480"/>
        <arg name="depth_height" value="270"/>
        <arg name="depth_fps" value="15"/>


        <!-- <arg name="color_width" value="640"/>
		<arg name="color_height" value="360"/>
                <arg name="color_fps" value="15"/> -->

        <arg name="filters" value="pointcloud"/>
        <arg name="pointcloud_texture_stream" value="RS2_STREAM_ANY"/>
        <arg name="allow_no_texture_points" value="false"/>
    </include>

    <node pkg="dylan_msc" type="distance_crop" name="distance_crop" output="screen"/>
</launch>
